body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 87%;
    margin: 0;
    padding: 0;
}
html {
	background-color: #869960;
}
.container
{
    max-width: 940px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    
}

@media screen and (max-width:480px) {
    .container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.birds
{
    background-image: url(../images/bird.jpg);
    background-size: cover;
    background-position: center center;
    /* background-color: rgb(201, 122, 20); */
    text-align: center;
  padding: 100px 0;
}
.birds p
{
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
  padding: 10px;
}
header
{
    padding-top: 20px;
    /* padding-bottom: 20px; */
    color: #fff;
    /* background-image: url(../images/flower.jpg); */
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #617140;
}
header h1
{
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
header p
{
    margin: 0;
}
/* styling for navigation bar */
.site-nav
{
    margin-top: 20px;
    
}
.site-nav ul
{
    margin: 0;
    padding: 0;
    
}
.site-nav li
{
    list-style: none;
    float: left;
    margin-right: 5px;
}
.site-nav a
{
    display: block;
  color: #fff;
  padding: 10px 20px;
  background-color: #536036;
  text-decoration: none;
}

.site-nav a:hover
{
    background-color: #e5e9dc;
}

@media screen and (max-width:700px){
    .site-nav li {
        width: 33.332%;
        margin-right: 0;
    }
    .site-nav a {
        padding: 15px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 5px;
    }

}
@media screen and (max-width:480px){
    .site-nav li {
        width: 50%;
        margin-right: 0;
    }
    .site-nav a {
        padding: 15px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 5px;
    }

}
/*signin page*/

form{
    background-color: rgb(218, 218, 218);
    padding: 30px 40px;
}
input,
select {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
}
input[type="email"],
input[type="password"],
select
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
  border: 1px solid #869960;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
}
input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #869960;
    color: #fff;
    padding: 10px 0;
    border: 1px solid #798a56;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10px;
  }
  input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #535e3b;
  background-color: #798a56;
}
.checkbox-text {
    font-size: 85%;
    color: #777;
  }
  

/* banner overlay */
.image-banner
{
    position: relative;
}
.image-banner img
{
    display: block;
}
.banner-description
{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px 25px;
}

/* Styling tables */

table th
{
    text-align: left;
    background-color: #869960;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}
table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
table th,
table td{
    border: 1px solid #869960;
    padding: 10px;
    vertical-align: top;
}
table tbody tr:nth-child(odd) 
{
    background-color: #e5e9dc;
}
.col-item-name
{
    width: 60%;
}
.col-quantity,
.col-price
{
    width: 20%;
}

table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
  text-align: center;
}
/* styling ends for navigation bar */
.main-area {
	width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.sidebar {
	width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 114%;
    background-image: linear-gradient(to bottom, #e5e9dc, #fff);
}

@media screen and (max-width:700px) {
    .main-area,
    .sidebar
    {
        width: auto;
        float: none;
    }
    .main-area{
        padding-right: 0;
    }
}
.content-area
{
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
    background-color: #fff;
}
footer
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 85%;

}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* animation effect on navigation bar */
.ui-menu ul
{
    margin: 0;
    padding: 0;
}
.ui-menu li
{
    float: left;
    list-style: none;
    margin-right: 20px;
}
.ui-menu a {
	display: block;
	width: 50px;
	height: 50px;
	background-position: top left;
	background-image: url(../images/sprites.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.ui-home a:hover {background-position: -50px 0;}

.ui-profile a {background-position: 0 -50px;}
.ui-profile a:hover {background-position: -50px -50px;}

.ui-settings a {background-position: 0 -100px;}
.ui-settings a:hover {background-position: -50px -100px;}
/*end of animation effect on navigation bar */